<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Formulario de Cliente</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header big-primary text-white">
                    <h3 class="card-title" th:text="${cliente.id == null} ? 'Nuevo Cliente' : 'Editar Cliente'">
                        Título</h3>
                </div>

                <div class="card-body">

                    <form th:action="${cliente.id != null} ? @{'/clientes/update/' + ${cliente.id}} : @{/clientes/}"
                          th:object="${cliente}"
                          method="post">
                        <div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger">
                            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
                        </div>

                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombre" th:field="*{nombre}"
                                   th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : ''">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
                                Error en el nombre
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="dni" class="form-label">DNI</label>
                            <input type="text" class="form-control" id="dni" th:field="*{dni}"
                                   th:classappend="${#fields.hasErrors('dni')} ? 'is-invalid' : ''">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}">
                                Error en el DNI
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" class="form-control" id="email" th:field="*{email}"
                                   th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                                Error en el email
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="telefono" class="form-label">Teléfono</label>
                            <input type="text" class="form-control" id="telefono" th:field="*{telefono}"
                                   th:classappend="${#fields.hasErrors('telefono')} ? 'is-invalid' : ''">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('telefono')}"
                                 th:errors="*{telefono}">
                                Error en el telefono
                            </div>
                        </div>

                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a th:href="@{/clientes/}" class="btn btn-secondary me-md-2">Cancelar</a>
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>